@{
    ViewData["Title"] = "Home Page";     
}

<div class="text-center">
    <h1 class="display-4">EtlBox Testing</h1>
    <p>Get Etlbox, <a href="https://github.com/roadrunnerlenny/etlbox">  the best etl tool for ASP.NET Core</a>.</p>
</div>

<div class="jumbotron">
    <h1>
        SQl 2012 <br/>
                 <a href="../Home/SqlConnectionManager">Click Here to test SQL 2012 etl from a csv  </a>
    </h1>     
</div>

<div class="jumbotron">
          <h1>
              Oracle 11g<br />
              <a href="../Home/OracleConnectionManager">Click Here to test  Oracle 11g  etl from a csv </a>
          </h1>     
</div>


<br/>
<br/>
<a href="~/t_covid_care_center.csv" download> Click here to download the csv</a>